# For reference see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

# Default owners for everything in the repo.
* @jay-taylerson @jacinpoz @skawian @matteematt @patrickoneill-genesis
