# For reference see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

# John Hendry, Laura Colclough and Nick Payne (temporarily!)
# Please reach out to any of us if you have any questions at all :)

* @wjhendry @laurajcolclough @makeusabrew