/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aeonik-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Aeonik Medium';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aeonik-Medium.woff2) format('woff2');
}

:root {

  --black: #161412;
  --primary-blue: #1200DE;
  --warm-gray-4: #F6F5F4;
  --warm-gray-3: #E3E0DD;
  --warm-gray-2: #808387;

  --primary-font: 'Aeonik', 'Arial', 'Helvetica', 'sans-serif';
  --medium-font: 'Aeonik Medium', 'Aeonik', 'Arial', 'Helvetica', 'sans-serif';

  line-height: 1.5;
  -webkit-font-smoothing: auto;

  --ifm-container-width-xl: 1140px;

  --ifm-color-primary: var(--primary-blue);

  --ifm-link-color: var(--primary-blue);
  --ifm-menu-color-active: var(--warm-gray-2);
  --ifm-menu-color-background-active: inherit;

  --ifm-heading-font-family: var(--primary-font);
  --ifm-heading-color: #555;
  --ifm-heading-font-weight: 500;
  --ifm-heading-line-height: normal;

  --ifm-hero-background-color: transparent;

  --ifm-navbar-background-color: var(--primary-blue);
  --ifm-navbar-link-color: #FFFFFF;
  --ifm-navbar-height: 88px;
  --ifm-navbar-shadow: -5px 3px 16px 0px rgba(0, 0, 0, 0.15);

  --ifm-pre-background: #2B2B2B;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
}

.markdown header>h1:first-child {
  --ifm-h1-font-size: 36px;
  margin-bottom: 12px;
  --ifm-link-color: #555;
}

.markdown>h2 {
  --ifm-h2-font-size: 24px;
  margin-bottom: 0px;
  --ifm-link-color: #555;
}

.markdown>h3 {
  --ifm-h3-font-size: 20px;
  --ifm-link-color: #555;
  margin-bottom: 0px;
}

.markdown>h4 {
  --ifm-h4-font-size: 16px;
  --ifm-link-color: #555;
  margin-bottom: 0px;
}

button.aa-DetachedSearchButton {
  --aa-font-family: var(--medium-font);
  --aa-font-size: 12px;
  --aa-font-weight: 500;
  --aa-search-input-height: 36px;
  --aa-primary-color-rgb: 8, 195, 165;
  --aa-icon-size: 5px;
  --aa-input-border-color-rgb: 8, 195, 165;
  --aa-muted-color-rgb: 8, 195, 165;
  --aa-input-border-color-alpha: 1;
  --aa-muted-color-alpha: 1;
  padding: 0 calc(var(--aa-search-input-height)/2.7);
}

button.aa-DetachedSearchButton:hover {
  background: rgb(var(--aa-input-border-color-rgb));
  color: #fff;
}

div.aa-DetachedSearchButtonIcon {
  margin-right: 4px;
  width: 16px;
  color: var(--aa-muted-color-rgb);
}

.aa-Form:focus-within {
  --aa-primary-color-rgb: var(--aa-input-border-color-rgb);
}

.navbar__logo {
  border-right: 1px solid var(--ifm-navbar-link-color);
  height: 40px;
  margin-right: 1rem;
  padding-right: 1rem;
}

.navbar__title {
  font-weight: normal;
}

.navbar__brand+.navbar__item {
  margin-left: 32px;
}

a.navbar__item.navbar__link {
  color: white;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

a.navbar__item.navbar__link.navbar__link--active {
  font-weight: 700;
  font-family: var(--medium-font);
}

.navbar__toggle > svg {
  color: white;
}

.navbar-sidebar__close > svg {
  height: 16px;
  width: 16px;
}

.navbar-sidebar__close > svg > g {
  stroke: white;
}

div.navbar-sidebar__item {
  background-color: white;
}

button.navbar-sidebar__back {
  background-color: var(--warm-gray-3);
}

.hero {
  text-align: center;
  text-rendering: optimizeLegibility;
  padding: 3.3rem 2rem;
  position: relative;
}

main {
  position: relative;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

main .container {
  margin: 0;
}

.hero__title {
  font-size: 42px;
  margin-bottom: 18px;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 44px;
  font-family: var(--primary-font);
}

.button--getting-started,
.button--getting-started.button--secondary.button--outline:not(.button--active):not(:hover) {
  width: 187px;
  height: 48px;
  border-radius: 4px;
  font-size: 14px;
  background-image: linear-gradient(-109.67161755518993deg, rgba(71, 188, 224, 0.85) 0%, rgba(101, 77, 249, 0.85) 100%);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 2.4;
  color: #fff;
  border: none;
  margin-top: 10px;
}

.button--getting-started.button--secondary.button--outline:not(.button--active):hover {
  background-image: linear-gradient(-109.67161755518993deg, #47bce0 0%, #654df9 100%);
  color: #fff;
}

.demo {
  width: 139px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #08c3a5;
  box-sizing: border-box;
  font-family: var(--medium-font);
  font-weight: 500;
  color: #08c3a5;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
}

.demo.navbar__item {
  line-height: 26px;
}

.demo:hover {
  background-color: #08c3a5;
  text-decoration: none;
  color: #fff;
}

/* side menu */
nav.menu {
  --side-nav-color-background: var(--warm-gray-4);
  padding: 1rem 0.5rem;
  background-color: var(--side-nav-color-background);
}

/* sidebar carets */
a.menu__link--sublist-caret::after {
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  background-size: 16px 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16px\" height=\"16px\" viewBox=\"0 0 24 24\"><path fill=\"rgba(200,194,188,1)\" d=\"M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z\"></path></svg>');
}

.menu__link:not(.menu__link--active) {
  color: var(--black);
}

.menu__nested-category .menu__list {
  border-left: 1px solid var(--warm-gray-3);
  margin-left: 2rem;
  padding-left: unset;
}

/* gray out collaped sidebar categories */
li.menu__list-item--collapsed .menu__link {
  color: #808387;
}

/* Sidebar nav header  */
.menu > .menu__list > .menu__list-item > .menu__list-item-collapsible {
  font-family: var(--medium-font);
  font-size: 14px;
  color: var(--warm-gray-2);
  text-transform: uppercase;
}

div[class^=sidebar_] .menu__link.menu__link--active:not(.menu__link--sublist) {
  color: var(--ifm-color-primary);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.homepage {
  position: relative;
}

.homepage:before {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.13;
  background-image: var(--homepage-bg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

img[alt^="masthead-slice"] {
  border-bottom: #dbe0ff solid 25px
}

img[alt^="masthead-fade"] {
  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 95%);
}

img[alt^="masthead-cut"] {
  clip-path: polygon(0% 0%, 100.00% 0.00%, 100.00% 80.00%, 95.00% 100.00%, 90.00% 80.00%, 85.00% 100.00%, 80.00% 80.00%, 75.00% 100.00%, 70.00% 80.00%, 65.00% 100.00%, 60.00% 80.00%, 55.00% 100.00%, 50.00% 80.00%, 45.00% 100.00%, 40.00% 80.00%, 35.00% 100.00%, 30.00% 80.00%, 25.00% 100.00%, 20.00% 80.00%, 15.00% 100.00%, 10.00% 80.00%, 5.00% 100.00%, 0.00% 80.00%);
}

alpha-avatar {
  --avatar-fill-accent-primary: #0EAFE2;
}

alpha-horizontal-scroll {
  max-width: 400px;
}

alpha-card {
  padding: 20px;
  --zero-card-fill-color: var(--neutral-layer-1);
  --zero-card-foreground-color: var(--neutral-foreground-rest);
}

alpha-horizontal-scroll alpha-card {
  width: 170px;
}

alpha-skeleton {
  border-radius: 4px;
  width: 50px;
  height: 50px;
}

[class^="playgroundPreview"] {
  color: var(--neutral-foreground-rest);
  --ifm-heading-color: var(--neutral-foreground-rest);
}

alpha-button .icon {
  margin-right: 5px;
}

.button-examples alpha-button {
  margin-right: 10px;
}

.button-examples alpha-button .icon {
  padding-right: 5px;
}

[class^="playgroundPreview"] legend {
  color: var(--neutral-foreground-rest);
}

[class^="playgroundPreview"] alpha-anchored-region {
  color: var(--neutral-foreground-rest);
  background: var(--accent-fill-rest);
  padding: 10px;
}

.combobox-examples [class^="playgroundPreview"] {
  min-height: 300px;
}

.select-examples [class^="playgroundPreview"],
.toolbar-examples [class^="playgroundPreview"] {
  min-height: 250px;
}

.tooltip-examples [class^="playgroundPreview"] {
  min-height: 110px;
}

/* make the div inside main-wrapper full height, mostly for the sidebar */
div.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div.main-wrapper > div {
  flex: 1;
}

/* right sidebar (table of contents) */
.tableOfContents_node_modules-\@docusaurus-theme-classic-lib-next-theme-TOC-styles-module {
  height: 100%;
  background-color: white;
}

ul.table-of-contents {
  line-height: 15.6px;
  font-size: 10px;
  color: var(--black);
}

.table-of-contents__link:hover {
  color: var(--primary-blue);
}

a.table-of-contents__link--active {
  font-family: var(--medium-font);
  font-weight: 700;
  color: var(--primary-blue);
}
