/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aeonik-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Aeonik Medium';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Aeonik-Medium.woff2) format('woff2');
}

:root {

  --black: #161412;
  --primary-blue: #1200DE;
  --warm-gray-4: #F6F5F4;
  --warm-gray-3: #E3E0DD;
  --warm-gray-2: #808387;

  --primary-font: 'Aeonik', 'Arial', 'Helvetica', 'sans-serif';
  --medium-font: 'Aeonik Medium', 'Aeonik', 'Arial', 'Helvetica', 'sans-serif';

  line-height: 1.5;
  -webkit-font-smoothing: auto;

  --ifm-container-width-xl: 1140px;

  --ifm-color-primary: var(--primary-blue);

  --ifm-link-color: var(--primary-blue);
  --ifm-menu-color-active: var(--warm-gray-2);
  --ifm-menu-color-background-active: inherit;

  --ifm-heading-font-family: var(--primary-font);
  --ifm-heading-color: var(--black);

  --ifm-hero-background-color: transparent;

  --ifm-navbar-background-color: var(--primary-blue);
  --ifm-navbar-link-color: #FFFFFF;
  --ifm-navbar-height: 88px;
  --ifm-navbar-shadow: -5px 3px 16px 0px rgba(0, 0, 0, 0.15);

  --ifm-pre-background: #2B2B2B;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
}

code {
  background-color: var(--ifm-code-background);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: var(--ifm-code-border-radius);
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  padding: var(--ifm-code-padding-vertical) var(--ifm-code-padding-horizontal);
  vertical-align: top;
}

/* global content styles */

.markdown {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
}

.markdown h1, .markdown h2 {
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--warm-gray-3);
}

.markdown h1 {
  font-size: 40px;
  line-height: 35px;
}

.markdown h2 {
  font-size: 32px;
  line-height: 28px;
}

.markdown h3 {
  font-size: 20px;
  line-height: 18px;
}

.markdown strong {
  font-family: var(--medium-font);
  font-weight: 700;
}

.markdown li {
  list-style-type: square;
}
/**********************************************/


/* Previous / Next (bottom nav) */
.pagination-nav .pagination-nav__link {
  border-radius: 0;
}

.pagination-nav .pagination-nav__sublabel {
  color: var(--warm-gray-2);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.pagination-nav .pagination-nav__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: var(--medium-font);
}
/**********************************************/

/* Tables */
.markdown table th {
  color: var(--primary-blue);
  font-family: var(--medium-font);
  font-weight: 700;
  background-color: var(--warm-gray-3);
}
.markdown table tr:nth-child(2n) {
  background-color: var(--warm-gray-3);
}
.markdown table tr:nth-child(2n+1) {
  background-color: var(--warm-gray-4);
}
/**********************************************/

/* ultra-wide view - restrict and center the main content */
.main-wrapper main { 
  transition: all 1s ease-in-out;
}

@media (min-aspect-ratio: 1/1) and (min-width: 1512px) {
  .main-wrapper main {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
/**********************************************/


button.aa-DetachedSearchButton {
  --aa-font-family: var(--medium-font);
  --aa-font-size: 12px;
  --aa-font-weight: 200;
  --aa-search-input-height: 36px;
  --aa-primary-color-rgb: 255, 255, 255;
  --aa-icon-size: 5px;
  --aa-input-border-color-rgb: 27, 6, 222;
  --aa-muted-color-rgb: 255, 255, 255;
  --aa-input-border-color-alpha: 1;
  --aa-muted-color-alpha: 1;
  background: rgb(18, 4, 168);
  padding: 0 calc(var(--aa-search-input-height)/2.7);
}

.aa-DetachedSearchButton:hover {
  --aa-input-border-color-rgb: 255, 255, 255;
}

div.aa-DetachedSearchButtonIcon {
  margin-right: 4px;
  width: 16px;
  color: var(--aa-muted-color-rgb);
}

div.aa-DetachedSearchButtonIcon:hover {
  cursor: pointer;
}

.aa-DetachedCancelButton {
  display: none;
}

.aa-Form:focus-within {
  --aa-primary-color-rgb: var(--aa-input-border-color-rgb);
}

.aa-ItemContentBody {
  margin: auto;
  padding-bottom: 2%;
}

.navbar__logo {
  border-right: 1px solid var(--ifm-navbar-link-color);
  height: 40px;
  margin-right: 1rem;
  padding-right: 1rem;
}

.navbar__title {
  color: var(--ifm-navbar-link-color);
  font-weight: normal;
}

.navbar__brand+.navbar__item {
  margin-left: 32px;
}

a.navbar__item.navbar__link {
  color: var(--ifm-navbar-link-color);
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  padding: 0;
  margin: 4px 12px;
}

a.navbar__item.navbar__link:hover {
  border-bottom: 1px solid;
}

a.navbar__item.navbar__link.navbar__link--active {
  font-weight: 700;
  border-bottom: 1px solid;
}

.navbar__toggle > svg {
  color: white;
}

.navbar-sidebar__close > svg {
  height: 16px;
  width: 16px;
}

.navbar-sidebar__close > svg > g {
  stroke: white;
}

div.navbar-sidebar__item {
  background-color: white;
}

/* search bar */
div.dsla-search-field {
  width: 160px;
  height: 32px;
}

button.navbar-sidebar__back {
  background-color: var(--warm-gray-3);
}

.hero {
  text-align: center;
  text-rendering: optimizeLegibility;
  padding: 3.3rem 2rem;
  position: relative;
}

main {
  position: relative;
  padding-left: 1.5rem;
  padding-top: 1rem;
}

main .container {
  margin: 0;
}

.hero__title {
  font-size: 42px;
  margin-bottom: 18px;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 44px;
  font-family: var(--primary-font);
}

.button--getting-started,
.button--getting-started.button--secondary.button--outline:not(.button--active):not(:hover) {
  width: 187px;
  height: 48px;
  border-radius: 4px;
  font-size: 14px;
  background-image: linear-gradient(-109.67161755518993deg, rgba(71, 188, 224, 0.85) 0%, rgba(101, 77, 249, 0.85) 100%);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 2.4;
  color: #fff;
  border: none;
  margin-top: 10px;
}

.button--getting-started.button--secondary.button--outline:not(.button--active):hover {
  background-image: linear-gradient(-109.67161755518993deg, #47bce0 0%, #654df9 100%);
  color: #fff;
}

.demo {
  width: 139px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #08c3a5;
  box-sizing: border-box;
  font-family: var(--medium-font);
  font-weight: 500;
  color: #08c3a5;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
}

.demo.navbar__item {
  line-height: 26px;
}

.demo:hover {
  background-color: #08c3a5;
  text-decoration: none;
  color: #fff;
}

/* side menu */
nav.menu {
  --side-nav-color-background: var(--warm-gray-4);
  padding: 1rem 0.5rem;
  background-color: var(--side-nav-color-background);
}

/* sidebar carets */
button.menu__caret::before,
a.menu__link--sublist-caret::after {
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  background-size: 16px 16px;
  background-image: url('../../static/svg/caret.svg');
}

a.menu__link--sublist-caret {
  align-items: center;
}

.menu__link:not(.menu__link--active), .menu__link.menu__link--sublist {
  color: var(--black);
}

.menu__nested-category .menu__list {
  border-left: 1px solid var(--warm-gray-3);
  margin-left: 2rem;
  padding-left: unset;
}

/* only top level categories should be gray */
li.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-1.menu__list-item > a,
li.theme-doc-sidebar-item-category-level-1 > div.menu__list-item-collapsible > .menu__link.menu__link--sublist:first-child {
  font-family: var(--medium-font);
  font-size: 14px;
  color: var(--warm-gray-2);
  text-transform: uppercase;
}

ul.theme-doc-sidebar-menu.menu__list * {
  border-radius: 0;
}

div[class^=sidebar_] .menu__link.menu__link--active:not(.menu__link--sublist) {
  color: var(--ifm-color-primary);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.homepage {
  position: relative;
}

.homepage:before {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.13;
  background-image: var(--homepage-bg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

img[alt^="masthead-slice"] {
  border-bottom: #dbe0ff solid 25px
}

img[alt^="masthead-fade"] {
  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 95%);
}

img[alt^="masthead-cut"] {
  clip-path: polygon(0% 0%, 100.00% 0.00%, 100.00% 80.00%, 95.00% 100.00%, 90.00% 80.00%, 85.00% 100.00%, 80.00% 80.00%, 75.00% 100.00%, 70.00% 80.00%, 65.00% 100.00%, 60.00% 80.00%, 55.00% 100.00%, 50.00% 80.00%, 45.00% 100.00%, 40.00% 80.00%, 35.00% 100.00%, 30.00% 80.00%, 25.00% 100.00%, 20.00% 80.00%, 15.00% 100.00%, 10.00% 80.00%, 5.00% 100.00%, 0.00% 80.00%);
}

alpha-avatar {
  --avatar-fill-accent-primary: #0EAFE2;
}

alpha-horizontal-scroll {
  max-width: 400px;
}

alpha-card {
  padding: 20px;
  --zero-card-fill-color: var(--neutral-layer-1);
  --zero-card-foreground-color: var(--neutral-foreground-rest);
}

alpha-horizontal-scroll alpha-card {
  width: 170px;
}

alpha-skeleton {
  border-radius: 4px;
  width: 50px;
  height: 50px;
}

[class^="playgroundPreview"] {
  color: var(--neutral-foreground-rest);
  --ifm-heading-color: var(--neutral-foreground-rest);
}

alpha-button .icon {
  margin-right: 5px;
}

.button-examples alpha-button {
  margin-right: 10px;
}

.button-examples alpha-button .icon {
  padding-right: 5px;
}

[class^="playgroundPreview"] legend {
  color: var(--neutral-foreground-rest);
}

[class^="playgroundPreview"] alpha-anchored-region {
  color: var(--neutral-foreground-rest);
  background: var(--accent-fill-rest);
  padding: 10px;
}

.combobox-examples [class^="playgroundPreview"] {
  min-height: 300px;
}

.select-examples [class^="playgroundPreview"],
.toolbar-examples [class^="playgroundPreview"] {
  min-height: 250px;
}

.tooltip-examples [class^="playgroundPreview"] {
  min-height: 110px;
}

/* make the div inside main-wrapper full height, mostly for the sidebar */
div.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div.main-wrapper > div {
  flex: 1;
}

/* right sidebar (table of contents) */
.tableOfContents_node_modules-\@docusaurus-theme-classic-lib-next-theme-TOC-styles-module {
  height: 100%;
  background-color: white;
}

ul.table-of-contents {
  line-height: 15.6px;
  font-size: 12px;
  color: var(--black);
  padding-left: 0;
}

ul.table-of-contents ul {
  padding-left: 0;
}

.table-of-contents__link:hover {
  color: var(--primary-blue);
}

a.table-of-contents__link--active {
  font-family: var(--medium-font);
  font-weight: 700;
  color: var(--primary-blue);
}
/**********************************************/

/* StackOverflow navbar icon */
.so-icon {
  background-image: url('../../static/svg/stackoverflow.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  display: flex;
  height: 24px;
  width: 24px;
}

.so-icon:hover {
  opacity: 0.7;
}
.version-menu {
  border-style: solid;
  border-radius: 2.5px;
  border-width: 0.5px;
  border-color: var(--ifm-navbar-link-color);
  padding: 5px;
}
.version-menu:hover{
  color: var(--ifm-navbar-link-color);
}
/**********************************************/
