/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}

:root {
  line-height: 1.5;
  -webkit-font-smoothing: auto;

  --ifm-font-family-base: Roboto-Regular, Roboto, sans-serif;
  --body-font: Roboto-Regular, Roboto, sans-serif;

  --ifm-link-color: #5C6FF2;
  
  --ifm-heading-font-family: Roboto-Medium, Roboto Medium, Roboto, sans-serif;
  --ifm-heading-color: #555;
  --ifm-heading-font-weight: 500;
  --ifm-heading-line-height: normal;

  --ifm-hero-background-color: transparent;

  --ifm-navbar-height: 64px;
  --ifm-navbar-shadow: -5px 3px 16px 0px rgba(0, 0, 0, 0.15);
}

h2 {
  font-size: 28px;
  --ifm-link-color: #555;
}

.aa-DetachedSearchButton {
  --aa-font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  --aa-font-size: 12px;
  --aa-search-input-height: 36px;
  --aa-primary-color-rgb: 8, 195, 165;
  --aa-icon-size: 5px;
  --aa-input-border-color-rgb: 8, 195, 165;
  --aa-input-border-color-alpha: 1;
}

.navbar__logo {
  width: 146px;
  height: 54px;
}

.hero {
  text-align: center;
  text-rendering: optimizeLegibility;
  padding: 3.3rem 2rem;
  position: relative;
}

main {
  position: relative;
}

.hero__title {
  font-size: 42px;
  margin-bottom: 18px;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 44px;
}

.button--getting-started,
.button--getting-started.button--secondary.button--outline:not(.button--active):not(:hover)
 {
  width: 187px;
  height: 48px;
  border-radius: 4px;
  font-size: 14px;
  background-image: linear-gradient(-109.67161755518993deg, rgba(71, 188, 224, 0.85) 0%, rgba(101, 77, 249, 0.85) 100%);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  line-height: 2.4;
  color: #fff;
  border: none;
}

.button--getting-started.button--secondary.button--outline:not(.button--active):hover
{
  background-image: linear-gradient(-109.67161755518993deg, #47bce0 0%, #654df9 100%);
  color: #fff;
}

.demo {
  width: 139px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #08c3a5;
  box-sizing: border-box;
  font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight: 500;
  color: #08c3a5;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
}

.demo.navbar__item {
  line-height: 26px;
}

.demo:hover {
  background-color: #08c3a5;
  text-decoration: none;
  color: #fff;
}

nav.menu {
  padding: 1rem 0.5rem;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.homepage {
  position: relative;
}

.homepage:before {
  content: ' ';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.13;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}