name: Build

# Triggered on PRs against master and UAT
on:
  pull_request:
    branches:
      - master
      - uat

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: log GPR_READ_TOKEN
      run: 'echo "$SSH_KEY:0:2" > key'
      shell: bash
      env:
        SSH_KEY: ${{secrets.GPR_READ_TOKEN}}
        
    - name: log GITHUB_TOKEN
      run: 'echo "$SSH_KEY:0:2" > key'
      shell: bash
      env:
        SSH_KEY: ${{secrets.GITHUB_TOKEN}}
    
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: https://npm.pkg.github.com/
        scope: '@genesislcap'

    - name: Bootstrap
      run: npm install
      env:
        NODE_AUTH_TOKEN: ${{secrets.GPR_READ_TOKEN}}

    # docusaurus will check for broken links as part of the build process
    - name: Build
      run: npm run build
      env:
          NODE_AUTH_TOKEN: ${{secrets.GPR_READ_TOKEN}}
