name: Build

# Triggered on PRs against main branches
on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.14.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - uses: oven-sh/setup-bun@v1
      with:
        bun-version: 1.1.12

    - name: Install Docusaurus dependencies
      run: bun install --no-save # do not generate a lockfile

    - name: Build Docusaurus and check for broken links
      run: npm run build
      env:
          BRANCH: ${{ github.base_ref }}
          BASE_URL: /docs/
          NODE_OPTIONS: "--max-old-space-size=8192"
