name: Build

# Triggered on PRs against main branches
on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: https://npm.pkg.github.com/
        scope: '@genesislcap'

    - name: Install CDK dependencies
      working-directory: ./infra
      run: npm install

    - name: Run CDK tests
      working-directory: ./infra
      run: npm test

    - name: Install Docusaurus dependencies
      run: npm install
      env:
        NODE_AUTH_TOKEN: ${{secrets.GPR_READ_TOKEN}}

    - name: Build Docusaurus and check for broken links
      run: npm run build
      env:
          NODE_AUTH_TOKEN: ${{secrets.GPR_READ_TOKEN}}
          BRANCH: ${{ github.base_ref }}
          BASE_URL: /docs/
